/* Table styling for student list */
.student-list {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.student-list th, .student-list td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* Removing all background color */
.student-list th {
  background-color: rgb(212, 209, 209); /* Remove grey background for table header */
}

.student-list tr {
  background-color: rgb(255, 255, 255); /* Remove grey background for all rows */
}

.student-list tr:nth-child(even) {
  background-color: white; /* Ensure no grey on even rows */
}

.student-list img {
  border-radius: 50%;
}

button {
  padding: 6px 12px;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Add space between buttons */
}

button.delete {
  background-color: #e74c3c;
  color: #fff;
}

button.edit {
  background-color: #3498db;
  color: #fff;
}

button.print {
  background-color: #000000;
  color: #fff;
}
.search-bar {
  flex-grow: 1;
  margin-left: 20px;
  left: 10px;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

.search-container input {
  padding: 8px 8px 8px 32px; /* Adjust padding to leave space for the icon */
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
